name: Deploy

on:
  workflow_dispatch:
  push:

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    
    - name: Build app
      uses: PavelZubkov/mam_build@v3
      with:
        token: ${{ secrets.GH_PAT }}
        package: 'my/counter'
        meta:
		- my: https://github.com/PavelZubkov/mam_my
		- lib: https://github.com/hyoo-ru/mam_lib
    
    - name: Deploy on GitHub Pages
      if: github.ref == 'refs/heads/main'
      uses: alex-page/blazing-fast-gh-pages-deploy@v1.1.0
      with:
        repo-token: ${{ secrets.GH_PAT }}
        site-directory: 'my/counter/-'
